@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i&amp;subset=cyrillic" rel="stylesheet"');

@font-face {
  font-family: 'bernier';
  src: url('../../fonts/BERNIERRegular-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sansus Webissimo Regular';
  src: url('../../fonts/SansusWebissimo.eot');
  src: url('../../fonts/SansusWebissimo.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/SansusWebissimo.woff') format('woff'),
  url('../../fonts/SansusWebissimo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
button,
input,
select,
textarea {
  color: $main-font-color;
  font-family: $main-font;
  font-weight: 400;
  @include font-size(0.8); // 16px
  line-height: $font__line-height-body;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 12px;
  font-family: $main-font;
  margin-bottom: 4px;
  clear: both;
  font-weight: 400;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 41px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 28px;
}

h6 {
  font-size: 25px;
}