$white: #fff;
$black: #16181a;
$blue: #1097fe;
$pink: #9710fe;
$gray: #5e6266;

$main-font-color: #4f4f4f;
$gray-font-color: #9f9f9f;

$main-font: "Roboto","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;

$font__line-height-body: 1.6;