// @include add-grid(12);
// @include add-gutter(1/3);

// @include sgs-change('debug', true);

html {
  height: 100%;
  font-size: 16px;
  @include adaptive('tablet') {
    font-size: 14px;
  }
  @include adaptive('smart') {
    font-size: 14px;
  }
}

body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}