extends ../_main-template

block variables
    - var title = 'History'

block content
    section#js-timeline-section.section.timeline
        #js-preloader.preloader
            .preloader__box
                .preloader__load
        .timeline__title
            h1.timeline__titletext
                | History
        .timeline__container
            .timeline__yearblock
                h2.timeline__year
                    | 1910
                .timeline__block.timeline__block_right
                    .timeline__content
                        p.timeline__text
                            | International Business Machines, or IBM, nicknamed "Big Blue",
                            | is a multinational computer technology and IT consulting corporation.
            .timeline__yearblock
                h2.timeline__year
                    | 1911
                .timeline__block.timeline__block_left
                    .timeline__content
                        p.timeline__text
                            | The company that leased Unit record equipment
                            | , especially Hollerith punched cards and card readers
                            | to government bureaus and insurance agencies.
            .timeline__yearblock
                h2.timeline__year
                    | 1924
                .timeline__block.timeline__block_right
                    .timeline__content
                        p.timeline__text
                            | Thomas J. Watson (1874-1956) took over in 1924
                            | , using the name "International Business Machines.
                .timeline__block.timeline__block_left
                    .timeline__content
                        p.timeline__text
                            | IBM expanded into electric typewriters and other office machines.
                            | Watson was a salesman and concentrated on building a highly motivated
                            | , very well paid sales force that could craft solutions for clients unfamiliar with the latest technology.
            .timeline__yearblock
                h2.timeline__year
                    | 1950
                .timeline__block.timeline__block_right
                    .timeline__content
                        p.timeline__text
                            | His motto was "THINK"; customers were advised to not "fold,
                            | spindle or mutilate" the delicate cardboard cards.
                .timeline__block.timeline__block_left
                    .timeline__content
                        p.timeline__text
                            | IBM's first experiments with computers in the 1940s
                            | and 1950s were modest advances on the card-based system.
            .timeline__yearblock
                h2.timeline__year
                    | 1960
                .timeline__block.timeline__block_right
                    .timeline__content
                        p.timeline__text
                            | Its great breakthrough came in the 1960s with its Model 360 mainframe.
                            | IBM offered a full range of hardware, software and service agreements.
            .timeline__yearblock
                h2.timeline__year
                    | 1965
                .timeline__block.timeline__block_left
                    .timeline__content
                        p.timeline__text
                            | Since most software was custom-written by in-house programmers,
                            | and would run on only one brand of computers,
                            | it was too expensive to switch brands.
            .timeline__yearblock
                h2.timeline__year
                    | 1970
                .timeline__block.timeline__block_right
                    .timeline__content
                        p.timeline__text
                            | Brushing off clone makers, and facing down a federal anti-trust suit,
                            | the giant sold reputation and security as well as hardware,
                            | and was the most admired American corporation of the 1970s and 1980s.
                .timeline__block.timeline__block_left
                    .timeline__content
                        .timeline__picture
                            img(src="./assets/img/image_02.jpeg").timeline__img
            .timeline__yearblock
                h2.timeline__year
                    | 1990
                .timeline__block.timeline__block_right
                    .timeline__content
                        p.timeline__text
                            | The late 1980s and early 1990s were cruel to IBM—losses
                            | in 1993 exceeded $8 billion—as the mainframe giant failed
                            | to adjust quickly enough to the personal computer revolution.
                .timeline__block.timeline__block_left
                    .timeline__content
                        p.timeline__text
                            | Desktop machines had the power needed, and were vastly easier
                            | for both users and managers than multimillion-dollar mainframes.
                .timeline__block.timeline__block_right
                    .timeline__content
                        p.timeline__text
                            | IBM did introduce a popular line of microcomputers—but it was too popular.
                .timeline__block.timeline__block_left
                    .timeline__content
                        p.timeline__text
                            | Clone makers undersold IBM, while the profits went
                            | to chip makers like Intel or software houses like Microsoft.
                .timeline__block.timeline__block_right
                    .timeline__content
                        .timeline__picture
                            img(src="./assets/img/image_01.jpeg").timeline__img
                        p.timeline__text
                            | After a series of reorganizations IBM has become one of the world's
                            | largest computer companies and systems integrators.
            .timeline__yearblock
                h2.timeline__year
                    | 2014
                .timeline__block.timeline__block_left
                    .timeline__content
                        p.timeline__text
                            | With over 400,000 employees worldwide as of 2014, IBM holds more patents than any other U.S.
                            | based technology company and has twelve research laboratories worldwide.
        #js-timeline-footer.timeline__footer
            button(id="js-timeline-btn").timeline__button
                | show full timeline
            .timeline__gradient

